body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.slide {
  flex: 0 0 100%;
  flex-wrap: wrap;
  width: 100%;
  transition: transform 2s;
  position: relative;

  img {
    min-width: 100%;
    width: 50%;
  }
}

#navigation {
  width:100%;
  position: absolute;
  top: 40%;
  
  .prev, .next {
    position: absolute;
    z-index: 1;
    font-size: 50px;
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }

}

.wrapper {
  overflow: hidden;
  position: relative;
}

.text-blocks {
  position: absolute;
  color: white;
}

.title {
  font-size: 50px;
}

.active {
  opacity: 0.5;
}

.subtitle {
  font-size: 35px;
}

#indicatorWrapper {
  width: 100%;
}

.indicator {
  display: inline-block;
  width: 25%;
  transition: opacity 1s;
}

.thumbnail {
  display: inline-block;
  transition: opacity 1s;
  width: 90%;
}

.thumbnail:hover {
  opacity: 0.5;
}